@import '../var/variables';

h2{
    color: $new-color;
}

.grid-padre{
    @if $bg == verano {
        background-color: orange;
        color: white;
    } @else if $bg == invierno{
       background-color: aquamarine;
    } @else {
        background-color: white;
    }
}
@media (min-width: 768px){
    .grid-padre{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width: 1024px){
    .grid-padre{
        grid-template-columns: repeat(3, 1fr);
    }
}


.hijo{
    img{
        min-width: 80rem /2;
    }
}

.btn{
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.btn-agotado{
    @extend .btn;
    text-transform: uppercase;
    background-color: rgb(197, 197, 12);
    color: black;
}